* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fff;

  margin: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  font: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 86px;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

input {
  font: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input::placeholder {
  opacity: 0.7;
}

input:hover,
input:focus {
  border-color: #000;
}

input:focus-visible,
input:focus-within {
  outline: none;
  border-color: #808080;
}

/* input spinners view remove */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* TASK 1 */

#categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

/* TASK 2 */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 100px 156px;
  max-width: 1440px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 300px;
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  min-width: 360px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* TASK 3 */

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

input[type="text"] {
  margin-top: 24px;
  margin-bottom: 16px;
}

/* TASK 4 */

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form button {
  margin-top: 16px;
}

/* TASK 5 */

.widget {
  width: 345px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 100px 88px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
}

.change-color {
  width: 148px;
}

/* TASK 6 */

#controls {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background-color: #f6f6fe;
}

#controls input {
  width: 150px;
}

#controls button {
  width: 120px;
}

button[data-destroy] {
  background-color: #ff4e4e;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  min-width: 486px;
  margin-top: 16px;
  display: flex;
  gap: 32px 44px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 32px;
  background-color: #f6f6fe;
}
