.widget {
  width: 345px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 100px 88px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
}

.change-color {
  font: inherit;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 148px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
}
